<div id="chatRoom">
    <ul id="messages">
        <% chats.forEach(function(chat) { %>
            <li><%= chat.CH_OWNER_NICK %>: <%= chat.CH_BODY %></li>
        <% }); %>
    </ul>
    <form id="sendMessageForm">
        <input id="messageInput" autocomplete="off" /><button>Send</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatClient.js"></script>
