<link href="/css/include/footer.css" rel="stylesheet" type="text/css">

<footer>
    <div class="footer_wrap">
        © GOOD BUY all rights reserved.
        <a href="/chat/adminContact" class="admin-contact-link">관리자에게 문의하기</a>
    </div>
</footer>