<link href="/css/include/header.css" rel="stylesheet" type="text/css">

<header>
    <div class="header_wrap">
        <a href="/">
            <img src="/img/GOODBUY2.png" alt="Logo" class="logo">
        </a>

        <form id="searchForm" action="/product/list_sale_product_form" method="get">
            <input type="text" name="keyword" id="searchKeyword" placeholder="๊ฒ์์ด ์๋ฅ">
            <button type="submit"><span role="img" aria-label="๊ฒ์">๐</span></button>
        </form>

        <div class="menu">
            <a href="/">HOME</a>| &nbsp; 
            <%
                if(loginedUser === undefined) {
            %>
                    <a href="/user/sign_up_form">ํ์๊ฐ์</a>| &nbsp;
                    <a href="/user/sign_in_form">๋ก๊ทธ์ธ</a>
            <%
                } else {
            %>
                    <a href="/user/modify_form">๊ณ์์์</a>| &nbsp;
                    <a href="/user/sign_out_confirm">๋ก๊ทธ์์</a>
            <%
                }
            %>
        </div>
    </div>
</header>
