<link href="/css/include/nav.css" rel="stylesheet" type="text/css">

<nav>
    <div class="nav_wrap">

        <a href="/product/list_sale_product_form">상품</a> &nbsp;
        <a href="/product/list_auction_product_form">경매</a> &nbsp;
        <a href="/product/list_rate_product_form">시세조회</a> &nbsp;        

        <%
            if(loginedUser !== undefined) {
                
        %>
            <a href="/product/add_product_form">상품등록</a> &nbsp;
            <a href="/product/list_my_product_form">내상품</a> &nbsp;
            <a href="/chat/chatList">마이톡</a> &nbsp;
            <a href="/user/mylist">마이페이지</a> &nbsp;
        <%
            }
        %>

    </div>
</nav>