<link href="/css/include/nav.css" rel="stylesheet" type="text/css">
<script src="/js/include/nav.js"></script>

<nav>
    <div class="nav_wrap">
        
        <a href="/">HOME</a> &nbsp;

        <%
            if(loginedUser === undefined) {
        %>
                <a href="/user/sign_up_form">SIGNUP</a> &nbsp;
                <a href="/user/sign_in_form">SIGNIN</a> &nbsp;
        <%
            } else {
        %>
                <a href="/user/modify_form">MODIFY</a> &nbsp;
                <a href="/user/sign_out_confirm">SIGNOUT</a> &nbsp;
                | &nbsp;
                <a href="/product/list_product_form">상품</a> &nbsp;
                <a href="/product/add_product_form">상품등록</a> &nbsp;
        <%
            }
        %>

    </div>
</nav>