<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <link href="/css/user/sign_in_form.css" rel="stylesheet" type="text/css">
    <script src="/js/user/find_functions.js"></script>
</head>
<body>
    <article>
        <div class="article_wrap">
            <div class="title">
                <h4>비밀번호 찾기</h4>
            </div>
            <div class="content">
                <div class="result-wrap">
                    <% if (success) { %>
                        <p>메일이 발송 되었습니다. 확인해 주세요.</p>
                    <% } else { %>
                        <p>메일 발송에 실패 했습니다.<br><br> 잠시후 시도해주세요.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </article>
</body>
</html>