<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <link href="/css/user/sign_up_form.css" rel="stylesheet" type="text/css">
    <script src="/js/user/sign_up_form.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/user/user_address.js"></script>
</head>
<body>

    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>
    
    <article>
        <div class="article_wrap">
            <div class="title">
                <h4>회원가입</h4>
            </div>
            <div class="content">
                <form action="/user/sign_up_confirm" name="sign_up_form" method="post" enctype="multipart/form-data">
                    <input type="email" name="u_id" placeholder="E-MAIL ID를 입력해주세요."><br>
                    <input type="password" name="u_pw" placeholder="PW를 입력해주세요."><br>
                    <input type="text" name="u_nick" placeholder="닉네임을 입력해주세요."><br>
                    <input type="text" name="u_phone" placeholder="연락처를 입력해주세요."><br>
                    <select name="u_sex">
                        <option value="">성별</option>
                        <option value="M">남성</option>
                        <option value="W">여성</option>
                    </select><br>
                    <select name="u_age" required>
                        <option value="">연령대를 선택해주세요.</option>
                        <option value="10">10대</option>
                        <option value="20">20대</option>
                        <option value="30">30대</option>
                        <option value="40">40대</option>
                        <option value="50">50대</option>
                        <option value="60">60대 이상</option>
                    </select><br>

                    <input type="hidden" id="user_post_address" name="u_post_address">
                    <div class="address-group">
                        <input type="text" id="user_postcode" placeholder="우편번호" readonly required>
                        <input type="button" class="address-btn" onclick="userAddress()" value="우편번호 찾기">
                    </div>
                    <input type="text" id="user_address" placeholder="주소" required>
                    <input type="text" id="user_extraAddress" placeholder="참고주소"><br>
                    <input type="text" id="user_detailAddress" name="u_detail_address" placeholder="상세주소" required><br><br>

                    <p class="profile-image-label">프로필 이미지 (선택)</p>
                    <input type="file" name="profile_thum" placeholder="SELECT PROFILE IMAGE"><br>
                    <div class="button-group">
                        <input type="button" value="회원가입" onclick="signupForm();">
                        <input type="reset" value="초기화">
                    </div>
                </form>
            </div>
        </div>
    </article>

    <%- include('../include/footer.ejs') %>
</body>
</html>