nav {
    border-bottom: 1px solid #ccc;
    background-color: rgba(200, 200, 200, .3);
}

nav div.nav_wrap {
    display: flex;                
    justify-content: space-between; 
    align-items: center;          
    padding: 0 20px;             
    height: 60px;                
    line-height: 60px;
}

#searchForm {
    display: flex;                
    align-items: center;          
    border-radius: 5px;          
    overflow: hidden;             
    background-color: white;      
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;            /* 최대 너비 설정 */
    margin: 0 auto;              /* 가운데 정렬 */
}

#searchKeyword {
    border: none;                 
    padding: 10px;               
    font-size: 16px;             
    flex-grow: 1;                /* 입력 필드가 가능한 공간을 차지하도록 설정 */
    outline: none;               
}

#searchKeyword::placeholder {
    color: #aaa;                 
}

#searchForm button {
    padding: 10px 15px;         
    background-color: #007BFF;  
    color: white;                
    border: none;                
    cursor: pointer;             
    transition: background-color 0.3s; 
}

#searchForm button:hover {
    background-color: #0056b3;  
}

nav a {
    margin-left: 10px;           
    text-decoration: none;       
    color: #333;                 
    transition: color 0.3s;      
}

nav a:hover {
    color: #007BFF;              
}

nav a:last-child {
    margin-right: 0;             
}
